[Tt]emp/
[Ll]ibrary/
[Oo]bj/
[Bb]uild/
[Ll]ogs/
*.csproj
*.sln
.vs/soot-sprite-ddr/CopilotIndices/17.14.1577.30250/CodeChunks.db-shm
.vs/soot-sprite-ddr/CopilotIndices/17.14.1577.30250/CodeChunks.db-wal
.vs/soot-sprite-ddr/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-shm
.vs/soot-sprite-ddr/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-wal
.vs/soot-sprite-ddr/FileContentIndex/ab254f7e-1b61-4f8f-b7f2-db628f2fe4ad.vsidx
.vs/soot-sprite-ddr/FileContentIndex/ada347e8-b926-46b9-993d-08c147a2b699.vsidx
.vs/soot-sprite-ddr/FileContentIndex/c41d7e50-8067-45a0-9480-3fece7dbd37e.vsidx
.vs/soot-sprite-ddr/FileContentIndex/d236094c-3978-4cf1-8c67-4b3e02e865e2.vsidx
